* {
    box-sizing: border-box;

}



html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

/* CSS HEX */
:root {
    --star-command-blue: #2274a5ff;
    --key-lime: #e7eb90ff;
    --naples-yellow: #fadf63ff;
    --goldenrod: #e6af2eff;
    --wine: #632b30ff;
}


#portrait {
    position: relative;
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 90%;


}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.h2Text {
    text-align: center;
    padding: 20px;

}

#SkillsBorder {
    border-right: solid black 1px;
}

.blurb {

    margin: 15px;
}

li {
    list-style: none;
}

.card {
    text-align: center;

}

.card-body {
    background-color: #e7eb90ff;
}

#cardHover:hover {
    opacity: 80%;
}

.cardShadow {
    transition: box-shadow .3s;
    border: 1px solid #ccc;
    background: #fff;
}

.cardShadow:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

footer {
    margin-bottom: 50px;
    align-items: center;
}

.footerCard {
    background-color: #e7eb90ff;


}